:root {
    --background-color: rgb(209, 231, 255); /* Define the color variable locally */
    --border-color: rgba(0, 102, 255, 0.726);
    --hover-color: blue;
  }

.define-container {
    background-color: var(--background-color);
}
.define-textbox {
    border: 5px solid var(--border-color);
    background-color: rgba(0, 94, 255, 0.481);
}

.define-button {
    border: 2px solid blue;
    background-color: var(--background-color);
}

.define-button:hover {
    background-color: blue;
    color: white;
}

.define-left-column {
    background: linear-gradient(to bottom, #8cbcff, #1c91ff);
}

.define-right-column {
    background: linear-gradient(to bottom, #64799c, #295270);
    color: white;
}


.define-island {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.define-island .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.define-island .title {
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.define-island .title-text {
    font-family: "Neue Metana-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
}

.define-island .message-section {

    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.define-island .message-box {
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #0d994d;
}

.define-island .message-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.define-island .message-cid {
    height: 150px;
    width: 150px;
    translate: 25vw -5vh;
}

.define-island .button-section {
    width: 50vw;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.define-island .button {
    min-height: fit-content;
    width: 90%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0d994d;
}

.define-island .button:hover {
    background-color: #579e77;
    color: white;
}

.define-question {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.define-question .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.define-question .context {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #0d994d;
}

.define-question .context-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.define-question .question {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #0d994d;
}

.define-question .question-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.define-question .button-section {
    width: 50vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.define-question .button {
    min-height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0d994d;
}

.define-question .button:hover {
    background-color: #579e77;
    color: white;
}