:root {
    --background-color: rgb(255, 209, 209); /* Define the color variable locally */
    --border-color: rgba(255, 0, 0, 0.726);
    --hover-color: red;
  }

.empathy-container {
    background-color: var(--background-color);
}
.empathy-textbox {
    border: 5px solid rgba(255, 0, 0, 0.726);
    background-color: rgba(255, 0, 0, 0.481);
}

.empathy-button {
    border: 2px solid red;
    background-color: var(--background-color);
}

.empathy-button:hover {
    background-color: red;
    color: white;
}

.empathy-left-column {
    background: linear-gradient(to bottom, #ff8c8c, #ff1c1c);
}

.empathy-right-column {
    background: linear-gradient(to bottom, #9c6464, #702929);
    color: white;
}

.empathy-island {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.empathy-island .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.empathy-island .title {
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.empathy-island .title-text {
    font-family: "Neue Metana-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
}

.empathy-island .message-section {

    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.empathy-island .message-box {
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #990d0d;
}

.empathy-island .message-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.empathy-island .message-cid {
    height: 150px;
    width: 150px;
    translate: 25vw -5vh;
}

.empathy-island .button-section {
    width: 50vw;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.empathy-island .button {
    min-height: fit-content;
    width: 90%;
    font-size: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #990d0d;
}

.empathy-island .button:hover {
    background-color: #9e5757;
    color: white;
}

.empathy-question {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.empathy-question .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.empathy-question .context {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #990d0d;
}

.empathy-question .context-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.empathy-question .question {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #990d0d;
}

.empathy-question .question-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.empathy-question .button-section {
    width: 50vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.empathy-question .button {
    min-height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #990d0d;
}

.empathy-question .button:hover {
    background-color: #9e5757;
    color: white;
}