:root {
    --background-color: rgb(213, 213, 213); /* Define the color variable locally */
    --border-color: rgba(48, 51, 56, 0.726);
    --hover-color: rgb(68, 68, 68);
  }

.ideate-container {
    background-color: var(--background-color);
}
.ideate-textbox {
    border: 5px solid rgba(48, 51, 56, 0.726);
    background-color: rgba(141, 141, 141, 0.481);
}

.ideate-button {
    border: 2px solid rgb(198, 198, 198);
    background-color: var(--background-color);
}

.ideate-button:hover {
    background-color: rgb(126, 126, 126);
    color: white;
}

.ideate-left-column {
    background: linear-gradient(to bottom, #e0e0e0, #a4a4a4);
}

.ideate-right-column {
    background: linear-gradient(to bottom, #7d7d7d, #242424);
    color: white;
}

.ideate-island {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.ideate-island .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.ideate-island .title {
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.ideate-island .title-text {
    font-family: "Neue Metana-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
}

.ideate-island .message-section {

    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ideate-island .message-box {
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #97990d;
}

.ideate-island .message-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.ideate-island .message-cid {
    height: 150px;
    translate: 25vw -10vh;
}

.ideate-island .button-section {
    width: 50vw;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ideate-island .button {
    min-height: fit-content;
    width: 90%;
    font-size: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border: 3px solid #97990d;
}

.ideate-island .button:hover {
    background-color: #adaa87;
    color: white;
}

.ideate-question {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.ideate-question .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.ideate-question .context {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #97990d;
}

.ideate-question .context-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.ideate-question .question {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #97990d;
}

.ideate-question .question-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.ideate-question .button-section {
    width: 50vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ideate-question .button {
    min-height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #97990d;
}

.ideate-question .button:hover {
    background-color: #adaa87;
    color: white;
}

.ideate-question .cid {
    height: 250px;
    position: absolute;
    top: 65%;
    left: 82%;
}