:root {
    --background-color: rgb(209, 255, 228); /* Define the color variable locally */
    --border-color: rgba(0, 255, 60, 0.726);
    --hover-color: green;
  }

.prototype-container {
    background-color: var(--background-color);
}
.prototype-textbox {
    border: 5px solid rgba(0, 255, 60, 0.726);
    background-color: rgba(0, 255, 136, 0.481);
}

.prototype-button {
    border: 2px solid green;
    background-color: var(--background-color);
}

.prototype-button:hover {
    background-color: green;
    color: white;
}

.prototype-left-column {
    background: linear-gradient(to bottom, #8cffb8, #1cff5c);
}

.prototype-right-column {
    background: linear-gradient(to bottom, #649c71, #29704a);
    color: white;
}

.prototype-selection-section {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
}

.prototype-island {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    background-color: #1c91ff;
    display: flex;
    flex-direction: column;
}

.prototype-island .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.prototype-island .title {
    height: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.prototype-island .title-text {
    font-family: "Neue Metana-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
}

.prototype-island .message-section {

    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.prototype-island .message-box {
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 5px;
    border: 6px solid #160d99;
}

.prototype-island .message-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.prototype-island .message-cid {
    height: 150px;
    width: 150px;
    translate: 25vw -5vh;
}

.prototype-island .button-section {
    width: 50vw;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.prototype-island .button {
    min-height: fit-content;
    width: 90%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #160d99;
}

.prototype-island .button:hover {
    background-color: #57629e;
    color: white;
}

.prototype-question {
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.prototype-question .background {
    background-image: url('../../assets/castle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
}

.prototype-question .context {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #160d99;
}

.prototype-question .context-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.prototype-question .question {
    width: 50vw;
    min-height: 10vh;
    height: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 6px solid #160d99;
}

.prototype-question .question-text {
    color: #000000;
    font-family: "Space Mono-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.prototype-question .button-section {
    width: 50vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.prototype-question .button {
    min-height: fit-content;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #160d99;
}

.prototype-question .button:hover {
    background-color: #57629e;
    color: white;
}